# Python bytecode and cache directories
__pycache__/
*.py[cod]
*$py.class

# Sensitive data files in app/data
app/data/pat_list.json
app/data/repo_requests.json
app/data/teamids_list.json

# Unwanted simple app folder (in tests)
tests/
